<div id="blueimp-gallery" class="blueimp-gallery js-only">
  <div class="slides">#</div>
  <h3 class="title">#</h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>

<!-- footer -->
<div id="social">
  <span>&copy; {{ site.time | date: '%Y' }} {{ site.symposium[page.year].name }}.{% if site.symposium[page.year].contact %} Contact: <a href="mailto:{{site.symposium[page.year].contact}}" target="_top">{{site.symposium[page.year].contact}}</a>{% endif %}</span>
  <div class="social-icons pull-right">
    {% if site.symposium[page.year].twitter %}<a href="https://twitter.com/{{ site.symposium[page.year].twitter }}" title="{{ site.symposium[page.year].name}} on Twitter" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>{% endif %}
    {% if site.symposium[page.year].github %}<a href="https://github.com/{{ site.symposium[page.year].github }}" title="{{ site.symposium[page.year].name}} on Github" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>{% endif %}
  </div><!-- /.social-icons -->
</div>
