<footer class="visible-xs">
  <div class="panel panel-default" id="sponsors">
    <div class="panel-heading">Sponsored by:</div>
    <div class="panel-body">
      <a href="http://www.ieee.org/"><img src="http://www.ieee.org/documents/49263_ieee_mb_black.gif" class="img-responsive"></a>
      <a href="http://www.cs-tcse.org/"><img src="http://www.cs-tcse.org/_/rsrc/1364849289897/tcse-logos/TCSE-Logo.png" class="img-responsive"></a>
    </div>
  </div>
</footer>

<div id="blueimp-gallery" class="blueimp-gallery js-only">
  <div class="slides">#</div>
  <h3 class="title">#</h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>
