{% assign header = site.data.header %}
<header>
<div class="page-header">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
        <!--<img xlink:href="img/vissoft-logo.svg"  />-->
        <div id="logo" class="img-responsive">
          <!--[if lte IE 8]><img src="/img/vissoft-logo.png"  width="100%" height="100%" alt="vissoft-logo" /><![endif]-->
          <!--[if gt IE 8]> <img src="/img/vissoft-logo.svg"  width="100%" height="100%" alt="vissoft-logo" type="image/svg+xml" /><![endif]-->
          <!--[if !IE]> --> <img src="/img/vissoft-logo.svg"  width="100%" height="100%" alt="vissoft-logo" type="image/svg+xml" /><!-- <![endif]-->
        </div>
    </div>
    <div class="col-xs-12 col-sm-7">
      <h1>
	  Joint Symposium on <b>Computational Aesthetics</b>,<br><b>Sketch-Based Interfaces and Modeling</b> and<br><b>Non-Photorealistic Animation and Rendering</b><br>
        <small><b>Aug 17 - 19</b>, 2018, Victoria, CA</small>
	  </h1>
    </div>

  	<div class="hidden-xs col-sm-2" id="sponsors">
    	<div class="panel panel-default">
    		<div class="panel-body">
          <a href="http://www.ieee.org/"><img src="http://www.ieee.org/documents/49263_ieee_mb_black.gif" class="img-responsive"></a>
          <a href="http://www.cs-tcse.org/"><img src="http://www.cs-tcse.org/_/rsrc/1364849289897/tcse-logos/TCSE-Logo.png" class="img-responsive"></a>
        </div>
  		</div>
  	</div>

  </div>
</div>
</header>