{% assign header = site.data.header %}
<header>
<div class="page-header" id="title-header">
  <div class="row">
    <div id="logo" class="col-xs-12 col-sm-6">
        <div class="img-responsive">
          <img src="/img/{{page.year}}/expressive{{page.year}}-logo.png"  width="100%" height="100%" alt="expressive-logo" />
        </div>
		<br>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h1>
	  Joint Symposium on <br><b>Computational Aesthetics</b><br><b>Sketch-Based Interfaces and Modeling</b><br><b>Non-Photorealistic Animation and Rendering</b><br>
        <small><b>{{site.symposium[page.year].date}}</b>, {{site.symposium[page.year].location}}</small>
	  </h1>
    </div>

  </div>
</div>
</header>
