<!-- IMPORTANT DATES -->
<div class="panel panel-default top1" id="deadlines">
  <h4 class="panel-heading">Important dates</h4>
  <div class="panel-body top-1" markdown="1">
    <span class="bold">Abstract due:</span> <span>{{ site.symposium.abstract }}</span><br>
    <span class="bold">Paper deadline:</span> <span><s>{{ site.symposium.paper }}</s></span><br>
    <span class="bold">Extended deadline:</span> <span><b>{{ site.symposium.extension }}</b></span><br>
    <span class="bold">Acceptance by:</span> <span>{{ site.symposium.acceptance }}</span><br>
    <span class="bold">Camera-ready:</span> <span>{{ site.symposium.camera-ready }}</span>
  </div>
</div>
