<!-- IMPORTANT DATES -->
<div class="panel panel-default top1" id="deadlines">
  <h4 class="panel-heading">Important dates</h4>
  <div class="panel-body top-1" markdown="1">
    <span class="bold">Symposium:</span> <span><b>{{ site.symposium.date }}</b></span>
    <span>Abstract due:</span> <span><s>{{ site.symposium.abstract }}</s></span><br>
    <span>Paper deadline:</span> <span><s>{{ site.symposium.paper }}</s></span><br>
    <span>Extended deadline:</span> <span><s>{{ site.symposium.extension }}</s></span><br>
    <span>Acceptance by:</span> <span><s>{{ site.symposium.acceptance }}</s></span><br>
    <span>Camera-ready:</span> <span><s>{{ site.symposium.camera-ready }}</s></span>
  </div>
</div>
