<div class="col-12 col-sm-12 col-lg-12">

  <a name="challenge"></a><h2>The VISSOFT challenge</h2>

  <p>What are visualizations worth if they are not applied in practice? VISSOFT invites you to use your data analysis and transformation techniques along with your best visualization tools to uncover interesting facts using a shared dataset.</p>

  <a name="data"></a><h3>Challenge Data</h3>

  <p>The focus of the challenge is GitHub. GitHub is a web-based service providing a collaborative software development environment and a social network for developers. We provide you with the dataset extracted from GHTorrent, a scalable off-line mirror of the data returned by the Github API. The dataset includes all data for a medium sized Java project (Netty -- a library for implementing asynchronous network servers), including commits, pull requests, issues, forks (including their commits, issues etc) and stargazers.</p>

  <p>Some ideas of what types of visualizations are possible are the following:
    <ul>
      <li>Commit proliferation animations for commits across forks and the main
repository</li>
      <li>Software evolution of repositories along with their forks</li>
      <li>Static and dynamic graphs of collaborations across repositories</li>
      <li>Activity of contributors across forks</li>
      <li>Code authorship linking between the main repository and forks</li>
    </ul>
  </p>

  <p>You can find more about the dataset (including descriptions of the data formats
and a QA forum) here:<br><a href="http://ghtorrent.org/vissoft14.html" target="_blank">VISSOFT 2014 Challenge Dataset</a>
  </p>

  <a name="report"></a><h3>Challenge Report</h3>

  <p>The challenge report should describe the results of your work by providing an introduction to the problem being addressed, the data used, the approach and tools used and sample screenshots (or better yet, live demos) showcasing the strengths of your visualization. The report will be evaluated by a jury. Make sure your report highlights the contributions and the importance of your work. Challenge reports must be at most 4 pages long and must conform at time of submission to the VISSOFT 2014 Format and Submission Guidelines.</p>

  <h3>Submission Details</h3>

  <p>Submit your challenge report (maximum 4 pages) to EasyChair on or before <strong>July 1, 2014</strong>. Please submit your challenge reports to the "VISSOFT 2014 Challenge Track". Papers submitted for consideration should not have been published elsewhere and should not be under review or submitted for review elsewhere during the duration of consideration. ACM plagiarism policies and procedures shall be followed for cases of double submission. Upon notification of acceptance, all authors of accepted papers will be asked to complete an ACM Copyright form and will receive further instructions for preparing their camera ready versions. At least one author of each paper is expected to present the results at the VISSOFT 2014 conference. All accepted contributions will be published in the conference electronic proceedings.</p>

  <p>For more information see <a href="submissions.html">Call for Papers</a>.</p>
  
</div><!--/span-->