<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
  <!-- SPONSORS -->
  <div class="panel" id="sponsors">
    <div class="panel-body">
      <h4>Sponsors</h4>
      <a href="http://www.ieee.org/"><img src="http://www.ieee.org/documents/49263_ieee_mb_black.gif" class="img-responsive"></a>
      <a href="http://www.cs-tcse.org/"><img src="http://www.cs-tcse.org/_/rsrc/1364849289897/tcse-logos/TCSE-Logo.png" class="img-responsive"></a>
    </div>
  </div>

  <!-- NEWS -->
  <div class="panel" id="news">
    <div class="list-group">
      <h4>News</h4>
      {% assign news = site.data.news.news | sort:"date" %}
      {% for n in news reversed %}
  	<a href="/news/index.html#{{ n.date }}" class="list-group-item">
      <h4 class="list-group-item-heading">{{ n.title }}<br><small>{{ n.date }}</small></h4>
      <p>{{ n.short }}...</p></a>
  	{% endfor %}
    </div>
  </div>

  <!-- SOCIAL -->
  <div class="panel" id="social">
    <h4>Social</h4>
    <div class="social-icons pull-right">
    	{% if site.owner.twitter %}<a href="https://twitter.com/{{ site.owner.twitter }}" title="{{ site.owner.name}} on Twitter" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>{% endif %}
    	{% if site.owner.github %}<a href="https://github.com/{{ site.owner.github }}" title="{{ site.owner.name}} on Github" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>{% endif %}
    </div><!-- /.social-icons -->
  </div>
</div>
