<!-- SPONSORS -->
<div class="panel panel-default" id="sponsors">
  <h4 class="panel-heading">Co-sponsored by</h4>
  <div class="panel-body">
    <div class="dense-gutter">
      <div class="col-sm-6">
        <a href="http://www.siggraph.org/"><img src="/img/SIGGRAPH-logo.png" class="img-responsive"></a>
      </div>
      <div class="col-sm-6">
        <a href="http://www.eg.org/"><img src="/img/Eurographics-logo.png" class="img-responsive"></a>
      </div>
      <div class="col-sm-6">
        <a href="https://www.disneyresearch.com/"><img src="/img/Disney-logo.jpg" class="img-responsive"></a>
      </div>
    </div>
  </div>
</div>
