<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">

  <!-- TYPES OF SUBMISSION -->
  <div class="panel panel-default top1" id="submission">
    <h4 class="panel-heading">Types of submissions</h4>
    <div class="panel-body top-1">
      <a href="#call-for-papers" class="bold"> > Call for Papers</a><br>
      <a href="#call-for-general-submissions" class="bold"> > Call for General Submissions</a><br>
      <a href="#call-for-journal-presentations" class="bold"> > Call for Journal Presentations</a>
    </div>
  </div>


  <!-- IMPORTANT DATES -->
  <div class="panel panel-default top1" id="deadlines">
    <h4 class="panel-heading">Important dates</h4>
    <div class="panel-body top-1">
      <span class="bold">Abstract due:</span> <span>{{ site.symposium.abstract }}</span><br>
      <span class="bold">Paper deadline:</span> <span>{{ site.symposium.paper }}</span><br>
      <span class="bold">Acceptance by:</span> <span>{{ site.symposium.acceptance }}</span>
    </div>
  </div>


  <!-- NEWS -->
  <div class="panel panel-default" id="news">
    <h4 class="panel-heading">News</h4>
    <div class="list-group top-1">
      {% assign news = site.categories.news | sort:"date" %}
      {% for n in news reversed %}
  	<a href="{{ site.url }}{{ n.url }}" class="list-group-item">
      <h4 class="list-group-item-heading">{{ n.title }}<br><small>{{ n.date | date: "%B %d, %Y" }}</small></h4>
      <p>{{ n.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}...</p></a>
  	{% endfor %}
    </div>
  </div>

  <!-- SPONSORS -->
  <div class="panel panel-default" id="sponsors">
    <h4 class="panel-heading">Co-sponsored by</h4>
    <div class="panel-body">
      <div class="dense-gutter">
        <div class="col-sm-6">
          <a href="http://www.siggraph.org/"><img src="/img/SIGGRAPH-logo.png" class="img-responsive"></a>
        </div>
        <div class="col-sm-6">
          <a href="http://www.eg.org/"><img src="/img/Eurographics-logo.png" class="img-responsive"></a>
        </div>
      </div>
    </div>
  </div>

</div>
