<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">

{% include important-dates.html %}

  <!-- TYPES OF SUBMISSION -->
  <div class="panel panel-default top1" id="submission">
    <h4 class="panel-heading">Types of Submissions</h4>
    <div class="panel-body top-1">
	{% if page.year == 2019 %}
      <a href="/{{ page.year }}/submissions/#call-for-papers" class="bold"> > Call for Papers</a><br>
      <a href="/{{ page.year }}/submissions/#call-for-posters-and-demos" class="bold"> > Call for Posters and Demos</a><br>
	  <a href="/{{ page.year }}/submissions/#call-for-artworks--generative-chronicles" class="bold"> > Call for Artworks</a><br>
      <a href="/{{ page.year }}/submissions/#call-for-journal-presentations" class="bold"> > Call for Journal Presentations</a>
	{% else %}
	  <a href="#call-for-papers" class="bold"> > Call for Papers</a><br>
      <a href="#call-for-general-submissions" class="bold"> > Call for General Submissions</a><br>
      <a href="#call-for-journal-presentations" class="bold"> > Call for Journal Presentations</a>
	{% endif %}
    </div>
  </div>

{% include news.html %}

{% include sponsors.html %}

</div>
