<div class="col-12 col-sm-12 col-lg-12">

  <p><a href="accepted.html">Accepted Papers with abstracts</a>.</p>
  <p><a href="http://conferences.computer.org/vissoft/2014/">Open Access Proceedings</a> available.</p>
  

  <a name="call"></a><h2>Call for Papers</h2>

  <p><a href="docs/vissoft-2014-call-for-papers.pdf"><span class="glyphicon glyphicon-file"></span> Call for Papers (PDF, 317 KiB)</a></p>

  <p>The second IEEE Working Conference on Software Visualization (VISSOFT 2014) builds upon the success of the first edition of VISSOFT in Eindhoven, which in turn followed after six editions of the IEEE International Workshop on Visualizing Software for Understanding and Analysis (VISSOFT) and five editions of the ACM Symposium on Software Visualization (SOFTVIS). In 2014, VISSOFT will again be co-located with ICSME in Victoria, BC, Canada.</p>

  <p>Software Visualization is a broad research area encompassing techniques that assist in a range of software engineering activities, such as, specification, design, programming, testing, maintenance, reverse engineering and reengineering. Covered methods contain the development and evaluation of approaches for visually analyzing software and software systems, including their structure, execution behavior, and evolution.</p>

  <p>In this conference, we focus on visualization techniques that target aspects of software maintenance and evolution, program comprehension, reverse engineering, and reengineering, i.e., how visualization helps programmers to understand, analyze, and evolve software. We aim to gather tool developers, users and researchers from software engineering, information visualization, and human-computer interaction to discuss theoretical foundations, algorithms, techniques, tools, and applications related to software visualization. We seek theoretical, as well as practical papers on applications, techniques, tools, case studies, and empirical studies.</p>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Topics of interest include, but are not limited to:</h4>
    </div>
  	<div class="panel-body">
  	<ul>
  	  <li>Program visualization</li>
	    <li>Visual software analytics</li>
	    <li>Network visualizations in software engineering</li>
	    <li>Visualization of software documentations</li>
	    <li>Visualization of parallel programs</li>
	    <li>Visualization-based software in computer science and software engineering education</li>
  	  <li>Visualization of workflow and business processes</li>
  	  <li>Integration of software visualization tools and development environments</li>
  	  <li>Visualization of web services</li>
  	  <li>Visualization of software evolution</li>
  	  <li>Visualization of database schemes</li>
  	  <li>Protocol and log visualization (security, trust)</li>
  	  <li>Graph algorithms for software visualization</li>
      <li>Layout algorithms for software visualization</li>
  	  <li>Visual debugging</li>
  	  <li>Software visualization on the internet</li>
  	  <li>Empirical evaluation of software visualization</li>
  	  <li>Visualization to support program comprehension</li>
      <li>Visualization to support software testing</li>
      <li>Visualization of software repositories</li>
      <li>Social media visualization</li>
  	</ul>
  	</div>
  </div>

  <p>Papers are solicited that present original, unpublished research results and will be rigorously reviewed by an international program committee. In addition to full papers, VISSOFT features a New Ideas or Emerging Results (NIER) track and a tool demo track related to the same list of topics suggested above. All accepted submissions will appear in the conference proceedings and the IEEE Digital Library. <a href="http://www.st.uni-trier.de/~diehl/softvis/org/softvis06/hints.html" target="blank">Hints for writing Software Visualization research papers</a> are available online.</p>

  <a name="information"></a><h3>Submission Information</h3>
  
  <p>Authors should prepare and electronically submit their papers or abstracts via the <a href="https://www.easychair.org/conferences/?conf=vissoft2014" target="blank">EasyChair submission site</a>. Take care that you provide all required information in EasyChair. At least one author of an accepted paper must attend the conference to present the work. The review process will be single-blind.</p>

  <p>All papers must conform, at time of submission, to the IEEE Formatting Guidelines. Make sure that you use this <a href="http://www.conference-publishing.com/templates/MSW_USltr_format.doc" target="blank">MS Word template</a> and this <a href="http://www.ctan.org/tex-archive/macros/latex/contrib/IEEEtran/IEEEtran.cls" target="blank">LaTeX class</a> (updated January 3rd, 2013). Submissions must be in PDF format. Make sure that you are using the correct IEEE style file: the title should be typeset in 24pt font and the body of the paper should be typeset in 10pt font. Latex users: please use <code>\documentclass[conference]{IEEEtran}</code> (without option <code>compsoc</code> or <code>compsocconf</code>).</p>

  <a name="types"></a><h3>Submission Types</h3>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Technical papers (up to 10 pages):</h4>
    </div>
  	<div class="panel-body">These contributions describe in-depth mature research results in the above-mentioned areas of interest. The submission of a video (up to 5 minutes in length) to accompany the paper is highly encouraged to show interaction possibilities. Authors who wish to submit such video should provide a URL to the video at the end of the abstract input box in EasyChair (not in the submitted paper itself!).</div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">NIER papers (up to 5 pages):</h4>
    </div>
  	<div class="panel-body">The NIER contributions describe work-in-progress and preliminary exciting results. Authors should include open questions and even provocative hypotheses to get early feedback on their research ideas or even support through new research collaborations.</div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Tool papers (up to 4 pages):</h4>
    </div>
  	<div class="panel-body">Tool contributions describe the design or actual utilization of software visualization tools, with a focus on relevant tool construction aspects or the use of the tool for gaining new insights. Authors should be prepared to demonstrate their tool at the conference.</div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Challenge paper (up to 4 pages):</h4>
    </div>
    <div class="panel-body">In the software visualization challenge, authors are to demonstrate the usefulness of their visualization tools on the data provided. The paper should first provide an introduction to the problem, data used, methods and tools used, results and their implications, and conclusions. For more information go to <a href="challenge.html">details of challenge</a>.</div>
  </div>
  

  <a name="dates"></a><h2>Important Dates</h2>

	<table class="table table-striped">
	  <thead><tr><th></th>
	  	<th>Main track (technical papers)</th>
	  	<th>NIER, Tool Demo, and Tool Challenge tracks</th>
		</tr></thead>
	  <tbody>
    <tr>
      <td>Abstract Submission:</td>
      <td><span class="deprecated">May 9, 2014<br>May 16, 2014</span></td>
      <td><span class="deprecated">June 24, 2014</span><br><span class="deprecated">July 1, 2014</span></td>
    </tr>
	  <tr>
	  	<td>Paper Submission:</td>
	    <td><span class="deprecated">May 16, 2014<br>May 23, 2014</span></td>
		  <td><span class="deprecated">July 1, 2014</span><br><span class="deprecated">July 8, 2014</span></td>
	  </tr>
	  <tr>
		  <td>Author Notification:</td>
		  <td><span class="deprecated">June 20, 2014</span></td>
		  <td><span class="deprecated">July 25, 2014</span></td>
	  </tr>
	  <tr>
		  <td>Camera-ready Copies:</td>
		  <td><span class="deprecated">July 14, 2014<br>August 7, 2014</span></td>
		  <td><span class="deprecated">August 7, 2014</span></td>
	  </tr>
	  </tbody>
  	</table>


</div><!--/span-->