<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">

  <!-- TYPES OF SUBMISSION -->
  <div class="panel panel-default top1" id="submission">
    <h4 class="panel-heading">Types of submissions</h4>
    <div class="panel-body top-1">
      <a href="#call-for-papers" class="bold"> > Call for Papers</a><br>
      <a href="#call-for-general-submissions" class="bold"> > Call for General Submissions</a><br>
      <a href="#call-for-journal-presentations" class="bold"> > Call for Journal Presentations</a>
    </div>
  </div>

{% include important-dates.html %}

{% include news.html %}

{% include sponsors.html %}

</div>
